* {
    padding: 0;
    margin: 0;

}

.header-container {
    display: flex;
    background-color: #274060;
    padding: 25px;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    height: 75px;
    width: 75px;
    border-radius: 15px;
}
.title {
    color: whitesmoke;
    flex-basis: 275px;
    flex-grow: 2;
   
}
.links {
    display: flex;
    align-items: center;
    gap: 1rem;

}
.AboutMe, .Portfolio {
    text-decoration: none;
    color: whitesmoke;
    background-color:#0c6980;
    padding: 10px;
    border-radius: 15px;

}

.intro-tile {
    display: flex;
    background-color:#335C81;
    padding:25px;
    align-items: center;
    flex-direction: column;
}

.aboutMe {
    background-color: #0c6980;
    padding: 15px;
    border-radius: 15px;
    color: whitesmoke;
    flex-basis: 15px;
    height: 55px;
    align-items: center;
   
}
.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.printingIMG {
    height:150px
}
.printing {
    padding: 15px;
    border-radius: 15px;
    border-radius: 15px;
    background-color: #0c6980;
    

}